@import url(http://fonts.googleapis.com/css?family=Italiana);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* change */
body {
  padding: 30px;
}

h1, h2 {
  font-family: 'Italiana';
}

h1 {
  font-size: 130px;
  font-weight: 200;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  font-family: 'FreeSerif';
}

a {
  color: black;
  font-style: italic;
  text-decoration: underline; 
}

.results {
  padding: 10px;
}

.result-link {
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
}

.input-query-md, .input-query-lg {
  background: none;
  width: 100%;
}

.input-query-md {
  padding: 15px;
  font-size: 18px;
  border: solid gray 1px;
  color: black;
}

.input-query-lg {
  padding: 20px;
  font-size: 36px;
  border-radius: 0px;
  border: black dotted 1px;
}

.count, .count-label {
  font-size: 45px;
}

.count {
  font-family: 'Liberation Sans Pro';
}

.count-label {
  font-family: 'Italiana';
}
